.hero {
  width: 100%;
  height: 100dvh;
  position: relative;
  color: #ffffff;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/hero-background.png");
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 64px;
  height: 100%;
  gap: 40px;
}
.heading1 {
  font-weight: 600;
  font-size: 3rem;
  color: #f7f7f7;
}
.heading2 {
  font-weight: 600;
  font-size: 1.5rem;
  color: #f7f7f7;
}
