.wrapper {
  display: flex;
  flex-direction: column;
}
.label {
  color: #10182899;
  margin-bottom: 8px;
  font-size: 0.875rem;
}
.inputBox {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 18px 20px;
  background-color: #f7f7f7;
  border-radius: 12px;
}
.input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  color: #101828;
}
.input::placeholder {
  color: #101828;
}
