.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.header {
  display: flex;
  gap: 16px;
  align-items: center;
}
.avatar {
  background-color: #f2f4f7;
  border-radius: 9999px;
  width: 60px;
  height: 60px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e44848;
  font-weight: 600;
  font-size: 1.5rem;
}
.rating {
  display: flex;
  gap: 4px;
  margin-top: 4px;
}
.comment {
  color: #475467;
}
